In [4]:
import pandas as pd

In [5]:
# load data
df=pd.read_parquet("https://github.com/monatagelsir7/enivornmental_impact_of_aviation/raw/refs/heads/main/cleaned_aviation_data_v1.parquet")

In [6]:
# explore dataset
df["departure_continent"].value_counts()

departure_continent
NA    125568
EU    103970
AS     36554
AF     10655
SA      5722
OC      3607
Name: count, dtype: int64

In [7]:
# For Departures
a=df[["departure_continent","departure_country"]].drop_duplicates()
a["departure_country"].value_counts()

two_counts = a["departure_country"].value_counts()
indices_with_two = two_counts[two_counts == 2].index
print(indices_with_two)
a[a["departure_country"].isin(indices_with_two)].sort_values(by="departure_country")

Index(['ES', 'US', 'EG', 'KZ', 'CO', 'RU', 'TR'], dtype='object', name='departure_country')

       departure_continent departure_country
2322                    SA                CO
252811                  NA                CO
2867                    AF                EG
77502                   AS                EG
80                      AF                ES
226                     EU                ES
18684                   AS                KZ
34723                   EU                KZ
286                     EU                RU
24300                   AS                RU
90                      AS                TR
433                     EU                TR
2                       OC                US
10                      NA                US

In [8]:
# For Arrivals
b=df[["arrival_continent","arrival_country"]].drop_duplicates()
b["arrival_country"].value_counts()

two_counts = b["arrival_country"].value_counts()
indices_with_two = two_counts[two_counts == 2].index
print(indices_with_two)
b[b["arrival_country"].isin(indices_with_two)].sort_values(by="arrival_country")



updated_country_to_continent={"EG":"AF","ES":"EU","KZ":"AS","RU":"EU","TR":"AS","CO":"SA","US":"NA",}
df.loc[df["departure_country"].isin(updated_country_to_continent.keys()), "departure_continent"] = df["departure_country"].map(updated_country_to_continent)

Index(['ES', 'US', 'EG', 'KZ', 'CO', 'RU', 'TR'], dtype='object', name='arrival_country')